<h1>Create new toDont</h1>

<form method='POST' action='/toDonts'>
    <label for="description">Description: </label>
    <input type="text" name="description"></input>
    <br>
     <label for="urgent">Urgent: </label>
    <span>Yes</span><input type="radio" name="urgent" value="true" checked>
    <span>No</span><input type="radio" name="urgent" value="false" >
    <br>
    <button>Submit</button>
</form>
<br>
<a href='/toDonts'>Go back</a>
